{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Cargar Album {% endblock %} {% block contenidoPagina %}

<main>
  <h3 class="center-align titulo-secciones panel-heading">Cargar album</h3>
  <div id="form-card" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row"></div>
        <div class="row">
          <div class="input-field col s12">
            {{form.titulo}} {{form.titulo.errors}}
            <label>Titulo de Album</label>
          </div>
          <div class="input-field col s12">
            {{form.descripcion}}{{form.descripcion.errors}}
            <label for="textarea1">Descripcion</label>
          </div>
          <div class="file-field input-field col s12">
            <div class="btn">
              <span>Miniatura</span>
              {{form.thumb}}{{form.thumb.errors}}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
          <div class="input-field col s12">
            {{form.tags}}{{form.tags.errors}}
            <label for="titulo">Etiquetas</label>
          </div>
          <div class="input-field col s12">
            <label for="titulo">Elije usuario</label>
          </div>
          <div class="input-field col s12">
            
            <select multiple name="Usuario">
              <option value="" disabled selected>Elije Usuario</option>
              {% for user in form.users_permitions %}
              <option  value="{{user}}"></option>
              {% endfor %}
          </select>
            
          </div>
          <label class="input-field col s12">
            {{ form.is_visible}}
            <span for="remember-me">Visible</span>
          </label>
          <div class="col s12">
            <label>Slug</label>
            {{form.slug}}{{form.slug.errors}}
          </div>
          <div class="file-field input-field col s12">
            <div class="btn">
              <span>Zip</span>
              {{form.zip}}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>

          <div class="input-field col s12">
            <button
              type="submit"
              value="submit"
              class="btn waves-effect waves-light col s12"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %} {% block js %}
<script>
  $('#id_titulo').keyup(function () {
    var titulo = $('#id_titulo').val();

    var slug = titulo.replace(/ /g, '-');

    $('#id_slug').val(slug);
    
  });
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %} {% block footer %} {% endblock %}
