{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Login {% endblock %} {% block contenidoPagina %}

<main>
  <div class="container">
    <h3 class="center-align pink-text lighten-4 panel-heading">
      Iniciar Sesion
    </h3>
    <div class="row">
      <form class="col s12" action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <div class="row">
          {% if error_message %}
          <p class="bg-danger p-d ml-b">{{ error_message }}</p>
          {% endif %}

          <div class="row">
            <div class="input-field col s12">
              <input
                name="username"
                id="username"
                type="text"
                class="validate"
              />
              <label class="validate" for="username">Usuario</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                name="password"
                id="password"
                type="password"
                class="validate"
              />
              <label class="validate" for="password">Contraseña</label>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-4">
            <input
              name="login"
              type="submit"
              value="Login"
              class="btn btn-success"
            />
            &nbsp;
            <a href="{% url 'registro_usuario' %}">o Registrate</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
