{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Login {% endblock %} {% block contenidoPagina %}

<main>
  <div class="container">
    <h3 class="center-align pink-text lighten-4 panel-heading">
      Iniciar Sesion
    </h3>
    <div id="login-page" class="row">
      <div class="col s12 z-depth-6 card-panel">
        <form class="login-form" action="{% url 'user_login' %}" method="post">
          <div class="row"></div>
          {% csrf_token %}
          <div class="row">
            {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input
                  name="username"
                  id="username"
                  type="text"
                  class="validate"
                />
                <label class="validate" for="username">Usuario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input
                  name="password"
                  id="password"
                  type="password"
                  class="validate"
                />
                <label class="validate" for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12 login-text">
                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember me</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button
                  type="submit"
                  class="btn waves-effect waves-light col s12"
                >
                  Iniciar
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small">
                  <a href="{% url 'registro_usuario' %}">o Registrate</a>
                </p>
              </div>
              <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small">
                  <a href="#">Forgot password?</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
