{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Registro {% endblock %} {% block contenidoPagina %}

<main>
  <div class="container">
    <h3 class="center-align pink-text lighten-4 panel-heading">Registrate</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input
      name="login"
      type="submit"
      value="Registrate"
      class="btn btn-success"
    />
  </form>
          &nbsp;
          <a href="{% url 'user_login' %}">o Inicia sesion</a>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
