{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Cambiar Contraseña {% endblock %} {% block contenidoPagina %}

<main>
  <div class="container">
    <h3 class="center-align titulo-secciones lighten-4 panel-heading">
      Iniciar Sesion
    </h3>
    <div id="form-card" class="row">
      <div class="col s12 z-depth-6 card-panel">
        <form class="login-form" method="post">
          <div class="row"></div>
          {% csrf_token %}
          <div class="row">
            {% if form.errors %}
            <div
              class="alerta_reset col s12 alert alert-danger alert-dismissible"
              id="alert_box"
            >
              <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
              </div>
              <button
                type="button"
                class="btn waves-effect waves-light"
                data-dismiss="alert"
                aria-label="Close"
              >
                <i
                  class="small material-icons prefix"
                  id="alert_close"
                  aria-hidden="true"
                  >close</i
                >
              </button>
            </div>
            {% endif %}

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input
                  type="password"
                  name="old_password"
                  autocomplete="new-password"
                  class="form-control"
                  required
                  id="id_old_password"
                  placeholder="Ingresa contraseña vieja"
                />
                <span> </span>
                <label class="validate" for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input
                  type="password"
                  name="new_password1"
                  autocomplete="new-password"
                  class="form-control"
                  required
                  id="id_new_password1"
                  placeholder="Ingresa nueva contraseña"
                />

                <label class="validate" for="password">Contraseña nueva</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input
                  type="password"
                  name="new_password2"
                  autocomplete="new-password"
                  required
                  id="id_new_password2"
                  class="form-control"
                  placeholder="Confirma nueva contraseña"
                />
                <label class="validate" for="password"
                  >Confrima Contraseña Nueva</label
                >
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <button
                  type="submit"
                  id="reset"
                  class="btn waves-effect waves-light col s12"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
