{% extends 'template_base.html' %} {% load static %} {% block tituloPagina %}
Resetear Contraseña {% endblock %} {% block contenidoPagina %}

<main>
  {% load crispy_forms_tags %}

  <!--Password Reset Confirm-->
  <div id="form-card" class="row">
    <h3 class="center-align titulo-secciones lighten-4 panel-heading">
      Confirmar reseteo de contraseña
    </h3>
    <div class="col s12 z-depth-6 card-panel">
      <p>Por favor ingresa nueva contraseña</p>
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ form|crispy }}
            <label class="validate"></label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">
              Resetear contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
